<div class="uploader-wrapper" nv-file-drop="" uploader="uploader">
  <div class="uploader">
    <h5>拖动图片到页面上或者</h5>
    <button class="btn btn-sm btn-primary" ng-click="clickUpload()">上传图片</button>
    <input type="file" nv-file-select uploader="uploader" id="file" multiple />
  </div>
</div><!-- .uploader-wrapper -->