<div class="main view_history" ng-if="view == 'history'">
  <div class="toolbar">
    <button class="btn btn-xs btn-default"
            ng-click="selectAll()">&nbsp;&lt;&nbsp;</button>
    <button class="btn btn-xs btn-default"
            ng-click="selectNone()">&nbsp;&gt;&nbsp;</button>
    <div class="pull-right">
      <select>
        <option ng-repeat="month in months"
                ng-value="month">{{ month | formatDate }}</option>
      </select>
    </div>
  </div>
  <div class="content">
    我在这里
  </div>
</div><!-- .content -->