<div class="main view_history" ng-if="view == 'history'">
  <div class="toolbar">
    <button class="btn btn-xs btn-default"
            ng-click="selectAll()">&nbsp;&lt;&nbsp;</button>
    <button class="btn btn-xs btn-default"
            ng-click="selectNone()">&nbsp;&gt;&nbsp;</button>
    <div class="pull-right">
      <select ng-model="currentMonth"
              ng-change="onMonthChange()"
              ng-options="month | formatDate for month in months">
      </select>
    </div>
  </div>
  <div class="content">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb"
         ng-repeat="picture in pictures">
      <a href="javascript:;" class="thumbnail">
        <div class="picture" style="height: 120px; background-image: url({{ picture }}); background-size: cover;"></div>
      </a>
    </div>
  </div>
</div><!-- .content -->