extends layout

block content
  form(role='form' method='post' action='/image/upload' enctype="multipart/form-data")
    .form-group
      input.form-control(type='file' name='picture')
    button.btn.btn-primary(type=submit) 上传