<!DOCTYPE html>
<html ng-app="DeepPicApp">
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="content-type" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>DeepPic</title>
    
    <link href="/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/application.css" rel="stylesheet">

    <script src="/assets/lib/underscore/underscore-min.js"></script>

    <script src="/assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="/assets/lib/zeroclipboard/dist/ZeroClipboard.min.js"></script>

    <script src="/assets/lib/angular/angular.min.js"></script>
    <script src="/assets/lib/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="/assets/lib/ng-clip/dest/ng-clip.min.js"></script>

    <script src="/assets/application.js"></script>
    <script src="/assets/angular-file-upload-thumb.js"></script>
  </head>
  <body ng-controller="UploadCtrl" nv-file-over=""
        over-class="highlight"
        uploader="uploader"
        ng-keyup="handleKey($event)">
        
    <%= include _header %>

    <div class="viewport">
      <%= include _sidebar %>

      <%= include _view_uploader %>
      <%= include _view_history %>
    </div><!-- .viewport -->
  </body>
</html>
