<!DOCTYPE html>
<html ng-app="DeepPicApp">
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="content-type" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>DeepPic</title>
    
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/styles.css" rel="stylesheet">

    <script src="/bower_components/underscore/underscore-min.js"></script>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/zeroclipboard/dist/ZeroClipboard.min.js"></script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="/bower_components/ng-clip/dest/ng-clip.min.js"></script>

    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/angular-file-upload-thumb.js"></script>
  </head>
  <body ng-controller="UploadCtrl">
    <div class="panel panel-default" id="panel-upload">
      <div class="panel-heading">
        <a href="https://www.upyun.com/" class="upyun-logo">
          <img src="http://upfiles.b0.upaiyun.com/logo/90x45.png" alt="UPYUN">
        </a>

        <h3 class="panel-title">DeepPic</h3>
      </div>

      <div class="btn-toolbar">
        <button class="btn btn-xs btn-success" ng-click="clickUpload()">上传图片</button>
        <input type="file" nv-file-select uploader="uploader" id="file" multiple />

        <div class="actions" ng-show="uploader.queue[0]">
          <div class="v-separator"></div>
          <button class="btn btn-xs btn-default"
                  ng-click="selectAll()">全选</button>
          <button class="btn btn-xs btn-default"
                  ng-show="isOutputVisible()"
                  ng-click="selectNone()">取消</button>
          <button class="btn btn-xs btn-default"
                  ng-show="isOutputVisible()"
                  clip-copy="output()"
                  clip-click="selectOutput()">复制</button>
        </div>

        <div id="output" ng-show="isOutputVisible()">
          <textarea wrap="off">{{output()}}</textarea>
        </div>
      </div>

      <div class="panel-body {{ isOutputVisible() ? 'output-mode' : '' }}">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-xs-6 thumb {{item.isSelected ? 'selected' : ''}} {{item.isSuccess ? 'success' : ''}}"
               ng-repeat="item in uploader.queue"
               ng-click="toggleSelect(item)">
            <a href="###" class="thumbnail">
              <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 150 }"></div>
              <div class="thumb-name">{{item.file.name}}</div>
              <img da-src="{{item.remoteUrl}}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>