doctype html
html
  head
    title DeepPic
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/clipboard.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery.knob.min.js')
    script(src='/javascripts/jquery.iframe-transport.min.js')
    script(src='/javascripts/jquery.ui.widget.min.js')
    script(src='/javascripts/jquery.fileupload.min.js')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/styles.css', rel='stylesheet')
    script(src='/javascripts/upload.js')
  body
    if error
      .alert.alert-danger= error
    block content

    .footer
      a(href="https://www.upyun.com/")
        img(src="http://upfiles.b0.upaiyun.com/logo/90x45.png", alt="UPYUN")
